---
- name: install | Check if fathom is already installed.
  ansible.builtin.stat:
    path: /usr/local/bin/fathom
  register: fathom_bin

- name: install | Ensure temporary directory for fathom exists.
  ansible.builtin.file:
    path: /tmp/fathom
    state: directory
    mode: "0755"
  when: >
    not fathom_bin.stat.exists
    or fathom_force_update

- name: install | Download fathom.
  ansible.builtin.unarchive:
    src: "{{ fathom_binary_url }}"
    dest: /tmp/fathom
    remote_src: true
    mode: "0755"
  register: archive_contents
  when: >
    not fathom_bin.stat.exists
    or fathom_force_update

- name: install | Copy fathom binary into place.
  ansible.builtin.copy:
    src: /tmp/fathom/fathom
    dest: /usr/local/bin/fathom
    mode: "0755"
    remote_src: true
  notify: Restart fathom
  when: >
    not fathom_bin.stat.exists
    or fathom_force_update
